# Ignorar archivos y carpetas de Storybook
.stories.*
.storybook
*.stories.tsx
/stories
/.storybook
src/stories/

# Ignorar otras configuraciones y directorios innecesarios
/rollup.config.mjs
/tsconfig.json
/tsconfig.build.json
/package-lock.json
/tests